*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: ivory;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.board {
    display: flex;
    flex-flow: row wrap;
    aspect-ratio: 1/1;
    width: 32vw;
    height: auto;
    box-shadow: 5px 5px 10px #322411;
    border: 10px solid #B1751A;
}

.square {
    aspect-ratio: 1/1;
    width: 12.5%;
    height: auto;
}

.white {
    background-color: bisque;
}

.black {
    background-color: peru;
}
